@import '../../assets/mixins.scss';
// Global
@import '../../assets/global.scss';


.Country {
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px auto 20px;
    padding: 0 20px;

    @include for-desktop-up  {
        width: 300px;
    }

    &-Flag {
        max-width: 100%;
        max-height: 100vh;
        object-fit: cover;
        display: block;

        @include for-desktop-up  {
            width:  265px;
            height: 160px;
        }
    }

    &-Details {
        padding: 20px;
        margin: 0;
        list-style: none;
        background-color: var(--color-secondary);

        &-Name {
            margin: 10px 0;
            font-size: 16px;
            font-weight: 600;
        }

        li {
            span {
                font-weight: 600;
            }
        }
    }
}

