$site-background : #faf7f7;
$body-text: #484848;

$dark-blue-dark-mode: #2B3945;
$very-dark-blue-dark-mode: #202C37; //dark mode background

$very-dark-blue-light-mode: #111517;
$dark-gray-light-mode: #858585;
$light-gray-light-mode: #FAFAFA; //light mode background
$white: #ffffff;
