@import '../../assets/mixins.scss';
// Global
@import '../../assets/global.scss';

.Header {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: var(--color-secondary);
    padding: 20px 30px;

    &-Text {
        margin: 0;
        font-size: 16px;
    }

    @include for-desktop-up  {
        grid-template-columns: 90% 10%;
        padding: 20px 80px;
    }

    &-Switcher {   
        cursor: pointer;
        display: grid;
        grid-template-columns: 10% 75%;
        justify-content: right;
        cursor: pointer;

        @include for-desktop-up  {
            grid-template-columns: 10% 70%;;
        }

        svg {
            margin: 3px 0 0;
        }

        span {
            display: inline-block;
            margin: 1px 0 0 10px;
            font-size: 14px;

            @include for-desktop-up  {
                margin: 0 0 0 15px;
            }
        }
    }

}