// Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// Color Variables
@import 'assets/colors.scss';

// Global
@import 'assets/global.scss';


body {
  margin: 0;
  padding: 0;
  background-color: $site-background;
  color: var(--font-color);
  font-family: 'Nunito Sans', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  background-color: var(--color-primary);
  font-size: 14px;
}

*, *::before, *::after {
	box-sizing: border-box;
}